* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #d5dbe1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #88a9f0;
}

.contener {
  width: 70%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px solid red; */
  border-radius: 15px;

  background-color: #e2edff;
  border-radius: 15px;
  border: 5px solid white;
}

.contener .left {
  width: 70%;
  height: 95%;
  /* border: 2px solid yellow; */
  background-color: #e2edff;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contener .left form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}

.contener .left form h1 {
  font-size: 25px;
  font-family: poppins;
  font-weight: 600;
  /* text-transform: uppercase; */
  color: #605ccb;
}

.contener .left form p {
  font-size: 14px;
}
.contener .left form p a {
  font-size: 12px;
  text-decoration: none;
}
.contener .left form div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  /* border: 2px solid red; */
}

.contener .left form input {
  width: 160px;
  height: 25px;
  padding: 12px;
  border: none;
  outline-color: #545372;
  border-radius: 5px;
  background-color: white;
}
.contener .left form input::placeholder {
  font-size: 12px;
}

.contener .left form button {
  font-size: 17px;
  width: 150px;
  height: 30px;
  border-radius: 11px;
  border: none;
  border: 1px solid white;
  background-color: #88a9f0;
  color: white;

}
.contener .left form button:hover
{
background-color: white;
border: 2px solid #88a9f0;
color: #545372;

}
.contener .right {
  width: 50%;
  height: 95%;
  /* border: 2px solid yellow; */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.right img {
  width: 70%;
  height: 55%;
  position: absolute;
  animation: popup;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: 1s;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
}

.Error p {
  color: red;
  font-size: 10px;
  font-family: poppins;
}

@keyframes popup {
  0% {
    bottom: 95px;
  }
  100% {
    bottom: 75px;
  }
}

@media only screen and (max-width: 900px)
{
  .contener
  {
    flex-direction: column;
    height: 40vh;
  }
  .right img
  {
    display: none;
  }
}
@media only screen and (max-width: 768px)
{
  .contener
  {
    flex-direction: column;
    height: 75vh;
  }
  .contener .left form
  {
    gap: 20px;
  }
  .contener .left form div
  {
    flex-direction: column;
    gap: 20px;
  }
  .contener .right{
   
  }
  .right img
  {
    display: none;
  }
}