* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #d5dbe1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #88A9F0;
}

.contener {
  width: 90%;
  height: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px solid red; */
  border-radius: 15px;

  background-color: #e2edff;
  border-radius: 15px;
  border: 5px solid white;
}

.contener .left {
  width: 85%;
  height: 95%;
  /* border: 2px solid yellow; */
  background-color: #e2edff;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
}
.contener .left h1 {
  font-size: 25px;
  font-family: poppins;
  font-weight: 600;
  text-transform: uppercase;
  color: #605ccb;
}

.contener .left table {
  border: 2px solid #88a9f0;
  width: 100%;
  height: 50px;
  border-collapse: collapse;
}

.contener .left table thead tr {
  font-size: 13px;
  text-align: center;
  color: #2e55a8;
}

.contener .left table tbody {
  text-align: center;
  font-size: 11px;
  color: #262f43;
}
.contener .right {
  width: 50%;
  height: 95%;
  /* border: 2px solid yellow; */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.right img {
  width: 70%;
  height: 55%;
  position: absolute;
  animation: popup;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: 1s;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
}

@keyframes popup {
  0% {
    bottom: 35px;
  }
  100% {
    bottom: 55px;
  }
}



 /*  & Responsive  */

 @media only screen and (max-width: 768px)
 {
   .contener
   {
     flex-direction: column;
     width: 93%;
     height: 50vh;
   }
   .contener .left table{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50vh;
    border-radius: 15px;
    
   }
   
   .contener .left table tr th{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 5vh;
    flex-direction: column;
    gap: 25px;
    border-left: #262f43;
    
   }

   .contener .left table tr td{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    flex-direction: column;
    width: 100%;
    height: 5vh;
    border-right: #262f43;
   }


 
   .right img
   {
     display: none;
   }
 }